@import "../theme";

.authentication {
  &.container {
    margin-top: 2em;
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
  }
  &.centered-text {
    text-align: center;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 30em;
    height: 20em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 15px;
    border-radius: 0.75em;
    background-image: linear-gradient(0deg, $accentBottomLight, $accentMiddleLight, $accentTopLight);
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(white, 0.85);
    color: $textColor;
  }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-weight: 300;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 60%;
    max-width: 480px;
    min-width: 200px;
  }
  &.error-message{
    color:red;
    font-weight: bold;
    font-size: 14px;
  }
  &.link {
    margin-top: 2em;
    color: white;
    text-decoration: underline;
  }
  &.link:visited {
    margin-top: 2em;
    color: white;
    text-decoration: underline;
  }
  &.checkbox-container input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid white; /* box color */
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
  }
  &.checkbox-container input[type="checkbox"]:checked {
    background-color: white; /* filler color*/
  }
  &.checkbox-container .checkbox-label {
    margin-left: 5px;
    color: white; /* text color */
  }
}