@import "../theme";

.evaluation {
  &.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    min-height: 300px;
    flex-direction: column;
  }
  .form-container {
    display: flex;
    width: calc(100% - 2em);
    align-items: stretch;
    justify-content: center;
  }

  .form {
    flex: 1;
    display: flex;
    margin: 0 1em;
  }

  &.ul {
    list-style: none;
  }

  &.li{
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .round-button-red {
    display: inline-block;
    padding: 14px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: red;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 2.25em;
  }
  .round-button-red:hover {
    background-color: firebrick;
  }
  .round-button-red.clicked {
    background-color: darkred;
  }
  .round-button-green {
    display: inline-block;
    padding: 14px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #58d1d1;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 2.25em;
  }

  .round-button-green:hover {
    background-color: lightseagreen;
  }

  .round-button-green.clicked {
    background-color: darkcyan;
  }

  &.transparent-form-normal {
    display: flex;
    position: relative;
    top: -2.5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease, transform 0.5s ease;
    padding: 20px;
    width: 100%;
  }

  &.transparent-form-exception {
    display: flex;
    position: relative;
    top: -10%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease, transform 0.5s ease;
    padding: 20px;
  }


  &.left-axis {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    justify-content: flex-start;
  }

  &.middle-left-axis {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    min-width: 60%;
    justify-content: flex-start;
    ul {
      margin-top: -0.6em;
      align-content: center;
      .li {
        position: relative;
        display: inline-block;
        margin-bottom: 1.5em; /* Adjust the value as needed */
        min-width: 100%;
      }
      .answer {
        flex: 1;
        position: relative;
        font-weight: bold;
        margin-top: 1.6em;
      }

      .score {
        position: absolute;
        margin-top: -1.11em;
        left: calc(50% + 130px); /* Position from the center */
        transform: translateX(-50%);
      }

      .li::after {
        content: '';
        position: absolute;
        left: 40%;
        transform: translateX(-50%);
        bottom: -1em; /* Adjust the value to control the distance between text and underline */
        min-width: 20em;
        height: 1px; /* Adjust the thickness of the underline */
        background-color: white; /* Adjust the color of the underline */
      }
    }
  }

  &.middle-axis,
  &.middle-right-axis {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 10%;
    justify-content: flex-start;
    font-weight: bold;
  }

  &.right-axis {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1em;
    margin-bottom: 2em;
    width: 100%;
    justify-content: flex-end;
  }
  .middle-left-axis h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }

  &.top-text {
    text-align: center;
    top: 0;
  }

  &.form-left {
    display: flex;
    position: relative;
    flex-direction: row;
    width: calc(85% - 0.25em);
    max-width: 40em;
    min-height: 18em;
    font-size: 16px;
    font-weight: 300;
    border-radius: 0.75em;
    background-image: linear-gradient(0deg, $accentBottomLight, $accentMiddleLight, $accentTopLight);
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.form-right {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 15%;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 1em;
    max-width: 9em;
    min-height: 18em;
    font-size: 16px;
    font-weight: 300;
    border-radius: 0.75em;
    background-image: linear-gradient(0deg, $accentBottomLight, $accentMiddleLight, $accentTopLight);
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    width: 60%;
    max-width: 480px;
    min-width: 200px;
  }
  &.button-container-top {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: red;
    font-size: 24px;
    height: 2.5em;
    border-radius: 0.5em;
  }
  &.button-container-bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #58d1d1;
    font-size: 24px;
    height: 2.5em;
    border-radius: 0.5em;
  }
  &.loading-ball-first {
    position: absolute;
    width: 20px; /* Adjust ball size */
    height: 20px; /* Adjust ball size */
    background-color: transparent; /* Transparent ball color */
    border-radius: 50%; /* Make ball round */
    border: 2px solid white; /* White border */
    animation: moveBallFirst 2s linear infinite; /* Adjust animation duration */
    top: 50%;
    left: 50%; /* Adjust initial position */
  }

  &.loading-ball-second {
    position: absolute;
    width: 20px; /* Adjust ball size */
    height: 20px; /* Adjust ball size */
    background-color: transparent; /* Transparent ball color */
    border-radius: 50%; /* Make ball round */
    border: 2px solid white; /* White border */
    animation: moveBallSecond 2s linear infinite; /* Adjust animation duration */
    top: 50%;
    left: 50%; /* Adjust initial position */
  }

  &.loading-ball-third {
    position: absolute;
    width: 20px; /* Adjust ball size */
    height: 20px; /* Adjust ball size */
    background-color: transparent; /* Transparent ball color */
    border-radius: 50%; /* Make ball round */
    border: 2px solid white; /* White border */
    animation: moveBallThird 2s linear infinite; /* Adjust animation duration */
    top: 50%;
    left: 50%; /* Adjust initial position */
  }

  &.loading-ball-fourth {
    position: absolute;
    width: 20px; /* Adjust ball size */
    height: 20px; /* Adjust ball size */
    background-color: transparent; /* Transparent ball color */
    border-radius: 50%; /* Make ball round */
    border: 2px solid white; /* White border */
    animation: moveBallFourth 2s linear infinite; /* Adjust animation duration */
    top: 50%;
    left: 50%; /* Adjust initial position */
  }
  &.categories-text {
    font-size: 20px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }
  &.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(0deg, $accentBottomLight, $accentMiddleLight, $accentTopLight);
  }

  &.loading-text {
    position: relative;
  }

  @keyframes moveBallFirst {
    0% {
      transform: rotate(0deg) translateY(-400%);
    }
    25% {
      transform: rotate(90deg) translateY(-800%);
    }
    50% {
      transform: rotate(180deg) translateY(-400%);
    }
    75% {
      transform: rotate(270deg) translateY(-800%);
    }
    100% {
      transform: rotate(360deg) translateY(-400%);
    }
  }

  @keyframes moveBallSecond {
    0% {
      transform: rotate(90deg) translateY(-800%);
    }
    25% {
      transform: rotate(180deg) translateY(-400%);
    }
    50% {
      transform: rotate(270deg) translateY(-800%);
    }
    75% {
      transform: rotate(360deg) translateY(-400%);
    }
    100% {
      transform: rotate(450deg) translateY(-800%);
    }
  }

  @keyframes moveBallThird {
    0% {
      transform: rotate(180deg) translateY(-400%);
    }
    25% {
      transform: rotate(270deg) translateY(-800%);
    }
    50% {
      transform: rotate(360deg) translateY(-400%);
    }
    75% {
      transform: rotate(450deg) translateY(-800%);
    }
    100% {
      transform: rotate(540deg) translateY(-400%);
    }
  }

  @keyframes moveBallFourth {
    0% {
      transform: rotate(270deg) translateY(-800%);
    }
    25% {
      transform: rotate(360deg) translateY(-400%);
    }
    50% {
      transform: rotate(450deg) translateY(-800%);
    }
    75% {
      transform: rotate(540deg) translateY(-400%);
    }
    100% {
      transform: rotate(630deg) translateY(-800%);
    }
  }
}

.player{
  &.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 2em;
    min-width: 2em;
    margin-bottom: 0.43em;
    height: 2em;
    padding: 5%;
    background-image: linear-gradient(0deg, $accentBottomLight, $accentMiddleLight, $accentTopLight);
    box-shadow: $dropShadow;
    border-radius: 50%;
  }
  &.username {
    font-weight: 500;
    font-size: 10px;
    color: white;
    text-align: center;
  }
}