@import "../theme";

.lobby {
  &.container {
    margin-top: 2em;
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
  }
  &.centered-text {
    text-align: center;
  }
  &.title{
    text-align: center;
    font-size: 50px;
  }
  &.ul {
    list-style: none;
  }

  &.li{
    display: inline-block;
    margin-right: 10px;
  }

  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 30em;
    min-height: 18em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-image: linear-gradient(0deg, $accentBottomLight, $accentMiddleLight, $accentTopLight);
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }

  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    width: 60%;
    max-width: 480px;
    min-width: 200px;
  }

  &.link {
    margin-top: 3em;
    color: white;
    text-decoration: underline;
  }
  &.link:visited {
    margin-top: 3em;
    color: white;
    text-decoration: underline;
  }
  &.ready{
    text-align: center;
    font-size: 13px;
  }
}

.player{
  &.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 10em;
    min-width: 10em;
    height: 10em;
    padding: 5%;
    background-image: linear-gradient(0deg, $accentBottomLight, $accentMiddleLight, $accentTopLight);
    box-shadow: $dropShadow;
    border-radius: 50%;
  }
  &.username {
    font-weight: 500;
    color: $accentBottom;
  }
  &.picture {
  }
}

.leader {
  &.user-list {
    list-style: none;
    padding-left: 0;
  }
  &.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &.name {
    font-weight: 300;
    margin-left: 5px;
  }
  &.username {
    font-weight: 500;
    color: $accentBottom;
  }
  &.id {
    margin-left: auto;
    margin-right: 10px;
    font-family: $fontMono;
    font-weight: 300;
  }
}